<div class="container">

<div class="row col-10 pb-2 mt-4 mb-2 border-bottom">
	<h1>The Awesome Website of Awesome</h1>
</div>

<div class="row col-10">
	<h2>ACCESS DENIED</h2>
</div>

<div class="row col-10">
	<p>Do you really think you should be trying to be here? You're not Awesome.</p>
</div>

<div class="row col-10">
	<p><a href="/landingPage">Go Back</a></p>
</div>

</div>

</body>
</html>
