<title>Waiting</title>

<section class="u-full-width" style="margin-top: 10%">
  <div class="container centered">
    <div class="twelve columns">     

      <h2 class="text-center" style="content: none;">Thank You</h2> 
      <label class="text-center" style="content: none;">Please Wait for Your Turn</label> 

    </div>
  </div>
  </div>
</section>
