<title>Esperando</title>

<section class="u-full-width" style="margin-top: 10%">
  <div class="container centered">
    <div class="twelve columns">

      <h2 class="text-center" style="content: none;">Gracias</h2> 
      <label class="text-center" style="content: none;">Por Favor Espere su Turno</label>  

    </div>
  </div>
  </div>
</section>
