<title>Instrucciones</title>

<section class="u-full-width" style="margin-top: 10%">
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator text-center">Instrucciones</h1>
      <p class="text-center">
        Debido a las circunstancias, {{companyName}} a implementado una forma más segura para ofrecer nuestros servicios. Por favor lea las siguientes instrucciones para que podamos ofrecer lo mejor de nuestros servicios:
      </p>
      <ol class="text-center extra-padding-top-1">
        <li>Espera Dentro de su Vehículo</li>
        <li>Llene su Información</li>
        <li>Entre Cuando Llegue su Turno</li>   
      </ol>
      <p class="text-center extra-padding-top-2">
        <a class="button button-primary" href="/spanish/empezar">Empezar</a> 
      </p> 
    </div>
  </div>
  </div>
</section>
