<title>Language</title>

<section class="u-full-width" style="margin-top: 10%">
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator text-center">Welcome!</h1>
      <p class="text-center">Choose a Language</p>
      <p class="text-center">
        <a class="button button-primary" href="/english">English</a>
        <a class="button button-primary" href="/spanish">Spanish</a>  
      </p>
    </div>
  </div>
  </div>
</section>