<sidebar>
    <!-- Sidebar  -->
    <nav id="sidebar">
        
        <div class="sidebar-header">
            <h3>Group Study</h3>
        </div>
        
        <ul class="list-unstyled components">
        <p>{{user.email}}</p>
            <li>
                <a href="/allSessions">All Sessions</a>
            </li>
            <li>
                <a href="/joinSess">Joined Sessions</a>
            </li>
            <li>
                <a href="/mySessions">My Sessions</a>
            </li>
            <li>
                <a href="/createSession">Create Sessions</a>
            </li>
        </ul>
        <ul class="list-unstyled components">
            <li>
                <a href="/logout">Log out</a>
            </li>

        </ul>

    </nav>
</sidebar>