<script src="https://unpkg.com/codyhouse-framework/main/assets/js/util.js"></script>
<link rel="stylesheet" href="/admin/navcss/style.css">

<div class="container">
  <br>
  <br>
  <br>
  <form>
    <div class="text-center margin-bottom-sm">
      <h1>Log in</h1>
      <p style="padding-top: 5px">Please enter pin number for admin account.</p>
    </div>
    <br>

    <div class="margin-bottom-sm text-center">
      <div class="justify-between margin-bottom-xxxs">
      </div>

      <input class="form-control width-50%" type="password" placeholder="Enter pin">
    </div>

    <div class="margin-bottom-sm text-center">
      <button class="btn btn--accent btn--md width-80%">Login</button>
    </div>
    <br>
    <center><a class="text-sm" href="#">Forgot Pin?</a></center>

  </form>
</div>
