<!DOCTYPE html>
<html lang="en">
<head>

	<!-- User CSS --> 

		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="/user/css/normalize.css">
		<link rel="stylesheet" href="/user/css/skeleton.css">

		<!-- JS 
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

		<!-- Custom CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<style>

			.text-center {
				text-align: center;
			}

			.centered {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}

			.extra-padding-top-1 {
				padding-top: 5px;
			}

			.extra-padding-top-2 {
				padding-top: 10px;
			}

			.extra-padding-top-3 {
				padding-top: 20px;
			}

			.extra-padding-top-4 {
				padding-top: 30px;
			}

			.error {
				color: #fc2637;
			}

			.space {
				color: #ffffff;
			}

			.remove-margin-bottom {
				margin-bottom: 0%;
			}

		</style>

	<!-- User CSS --> 

</head>
<body>

	{{{body}}}

</body>
</html>
